@font-face {
    font-family: "gta";
    src: url("./fonts/gta.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "title";
    src: url("./fonts/gta4\ -\ title.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "subtitle";
    src: url("./fonts/gta4\ -\ subtitle.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --yellow: #eca000;
    --dark: #1a1a1a;
    --grey: #888888;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "subtitle", sans-serif;
    text-decoration: none;
}