body {
    background: var(--black);
}


header {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header p {
    color: var(--white);
    font-family: "gta";
    font-size: 80px;
}





.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey);
    border-radius: 5vh;
    padding: 10px;
    min-width: 450px;
}

.card-title {
    text-align: center;
    font-family: gta;
    font-size: 60px;
    color: var(--yellow);
}

.card-table {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-title {
    font-family: title;
    font-size: 20px;
    padding-left: 20px;
    color: var(--grey);
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-content {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 5fr;
    align-items: center;
    justify-items: center;
    padding: 0 5px;
    min-height: 48px;
    background: var(--dark);
}

.item-content:hover {
    background: var(--yellow);
}

.item-content:hover .item-text,
.item-content:hover .item-subtext {
    color: var(--white);
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid var(--yellow);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background: var(--dark);
}

.checkbox.checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 0px;
    width: 10px;
    height: 16px;
    border: solid var(--white);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}

.checkbox.checked {
    border: none;
    background: var(--yellow);
}

.checkbox.checked~.number,
.checkbox.checked~.item-text,
.checkbox.checked~.item-subtext {
    text-decoration: line-through;
    color: var(--grey);
}

.checkbox.checked~.item-img {
    opacity: 0.2; 
}

.item-img {
    width: 30px;
    height: 30px;
}

.item-text {
    color: var(--yellow);
    font-size: 20px;
    text-align: center;
}

.item-subtext {
    color: var(--yellow);
    text-align: center;
}



.column2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}








.item-content2 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 5fr 2fr 2fr;
    align-items: center;
    padding: 0 5px;
    min-height: 48px;
    background: var(--dark);
    justify-items: center;
}

.item-content2:hover {
    background: var(--yellow);
}

.item-content2:hover .number,
.item-content2:hover .item-text,
.item-content2:hover .item-subtext {
    color: var(--white);
}


.number{
    color: var(--yellow);
    font-size: 40px;
    font-family: gta;
}

.checkbox.checked~.item-img1 {
    border: none;
    display: none;
}

.item-img1 {
    height: 48px;
    border: 1px solid var(--yellow);
    cursor: pointer;
}




#fullscreen {
    position: fixed;          
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    display: none;             /* скрыт по умолчанию */
    align-items: center;       
    justify-content: center;   
    z-index: 9999;
}

#fullscreen.show {
    display: flex;             /* показываем при добавлении класса */
}

#fullscreen img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;       /* сохраняем пропорции */
    border: 1px solid var(--yellow);
}





.st {
    display: none;
    padding: 10px;
    gap: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
}



.active1 {
    display: flex;
    color: var(--yellow);
    text-decoration: underline;
}

.active2 {
    display: flex;
}

.buttons {
    display: flex;
    gap: 30px;
}

button {
    color: var(--grey);
    font-size: 40px;
    font-family: gta;
    background: var(--black);
    border: none;
    cursor: pointer;
}

button:hover {
    color: var(--yellow);
}

